.btn {
	padding-left: 1px;
}
.btn-primary {
	padding-left: 1em;
}
button, input, optgroup, select, textarea  {
	margin: 12px;
	padding-left: 12px;
}
body {
	background-color: #3887be;
	background-image: url("../images/004.jpg");
	height: 100vh;
}
.form {
	padding-top: 2em;
	padding-right: 2em;
}
header {
	height: 11em;
	background-color: #404040;
	width: 100%;
}
.header-box {
	margin-left: 0%;
	margin-right: 0%;
	color: #ebeff2;
	font-family: verdana;
	font-size: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
}
h3 {
	color: #404040;
}
h4 {
	font-family: arial;
	color: black;
}
body > h4 {
	color: black;
}
.main {
	padding-top: 4em;
}
.blog-sidebar {
	padding-top: 4em;
	padding-left: 5em;
	height: 100vh;
	display: inline-block;
	border-width: 3em;
	background-color: gray;
}
#air-in {
	float: left;
	padding-right: 1em;
}
#search-air {
	padding-top: 30px;
}
.form-control {
	background-color: #ebeff2;
	width: 25%;
}
